export(cada)
export(calc_cada)
export(calc_cada_multi)
export(make_cada_between_hypotheses)
export(simulate_cada_between_data)
importFrom(utils,help)
importFrom(graphics,abline)
importFrom(graphics,hist)
S3method(print,cada)
S3method(summary,cada)
S3method(print,summary_cada)
S3method(plot,cada)
S3method(print,cada_multi)
S3method(summary,cada_multi)
S3method(print,summary_cada_multi)
